/* @import url("https://fonts.googleapis.com/css?family=Kanit:300,400&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Nunito:400,500,700,600&display=swap"); */


/* @font-face {
  font-family: 'Klavika';
  src: url(../fonts/Klavika-Regular.otf) format('truetype') font-weight-normal,
       url(../fonts/Klavika-Bold.otf) format('truetype') font-weight-bold,
       url(../fonts/Klavika-Bold-Italic.otf) format('truetype') font-italic font-weight-bold;
} */
/* 
@font-face {
  font-family: "DroidSerif";
  src: url("DroidSerif-Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */


@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/Nunito-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  height: 24px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.logout-Popover {
  position: fixed !important;
}

.user-logoutPanel {
  text-align: center;
}

.user-detail {
  width: 245px;
  text-align: center;
  margin-top: 12px;
}

.user-name {
  color: #202124;
  letter-spacing: 0.29px;
  font-weight: 400;
  text-overflow: ellipsis;
  margin-top: 8px;
  font-size: 16px;
  overflow: hidden;
  font-family: kanit, sans-serif;
}

.user-mail {
  color: #5f6368;
  text-overflow: ellipsis;
  letter-spacing: normal;
  text-align: center;
  overflow: hidden;
  font-family: kanit, sans-serif;
  font-weight: 300;
}

.user-logout-divder {
  margin: 12px 0px !important;
  width: calc(100% + 32px) !important;
  margin-left: -16px !important;
}

.header-title {
  color: rgb(90, 92, 105);
  font-size: 1.75rem;
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  margin: 24px 0px;
  display: inline-block;
}
.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-container {
  background: #fff;
  padding: 18px;
}

.user-tile {
  font-weight: 400;
  font-family: "kanit", sans-serif;
  font-size: 15px;
}

.app-container {
  overflow: "initial";
  transition: all 0.2s ease 0s;
  margin-top: 68px;
  padding: 0px 24px;
}

/* Ant design over write */
.ant-table-pagination.ant-pagination {
  margin-right: 10px;
}
