@import url("https://fonts.googleapis.com/css?family=Kanit:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,600&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  height: 24px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.logout-Popover {
  position: fixed !important;
}

.user-logoutPanel {
  text-align: center;
}

.user-detail {
  width: 245px;
  text-align: center;
  margin-top: 12px;
}

.user-name {
  color: #202124;
  letter-spacing: 0.29px;
  font-weight: 400;
  text-overflow: ellipsis;
  margin-top: 8px;
  font-size: 16px;
  overflow: hidden;
  font-family: kanit, sans-serif;
}

.user-mail {
  color: #5f6368;
  text-overflow: ellipsis;
  letter-spacing: normal;
  text-align: center;
  overflow: hidden;
  font-family: kanit, sans-serif;
  font-weight: 300;
}

.user-logout-divder {
  margin: 12px 0px !important;
  width: calc(100% + 32px) !important;
  margin-left: -16px !important;
}

.header-title {
  color: rgb(90, 92, 105);
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  margin-bottom: 0px !important;
  line-height: 32px;
}

.main-container {
  background: #fff;
  padding: 18px;
}

.header-title-divder {
  margin: 12px 0px !important;
  width: calc(100% + 36px) !important;
  margin-left: -18px !important;
}

.user-tile {
  font-weight: 400;
  font-family: "kanit", sans-serif;
  font-size: 15px;
}
